body {
  padding: 0px; 
  background-color: white;
  color: black;
  font-size: 20px;
  
}
.lugrasimo-regular {
  font-family: "Lugrasimo", cursive;
  font-weight: 400;
  font-style: normal;
}

.dark-mode-icon {
  color: black; 
}

.dark-mode {
  background-color: black;
  color: white;
}

h3{
    text-align: center;
}
p{
  text-align: center;
} 
.abjad{
    position: relative;
    text-align: center;

}   
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(255, 251, 251);
    box-shadow: 0 1px 20px 0px rgb(102, 102, 102);
    color: #030303; 
    padding: 20px; 
    z-index: 999; 
    text-align: center;
  }
  .fa-brands{
    width: 100px;
  }